
    <!---newww-->
    {% extends "base.html" %}
    {% load static %} 
{% block content %}
    <!-- Header Start -->
    <div class="container-fluid hero-header bg-light py-5 mb-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <h1 class="display-4 mb-3 animated slideInDown">About Me</h1>
                    <nav aria-label="breadcrumb animated slideInDown">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 animated fadeIn">
                    <div class="row g-3">
                        <div class="col-6 text-end">
                            <img class="img-fluid bg-white p-3 w-100" src="{% static "img/hero-1.jpg" %}" alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid bg-white p-3 w-100" src="{% static "img/hero-2.jpg" %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="row g-3 img-twice position-relative h-100">
                        <div class="col-6">
                            <img class="img-fluid bg-light p-3" src="{% static "img/about-1.jpg" %}" alt="">
                        </div>
                        <div class="col-6 align-self-end">
                            <img class="img-fluid bg-light p-3" src="{% static "img/about-2.jpg" %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="h-100">
                        <p class="text-primary text-uppercase mb-2">About Me</p>
                        <h1 class="display-6 mb-4">I'm a Creative And Professional Artist</h1>
                        <p>In my cozy studio, I blend pigments and whispers of inspiration. My art is a journey—a fusion of alchemy and authenticity. With every canvas, I aim to evoke wonder, provoke thought, and ignite joy. Thank you for joining me on this artistic adventure. Let’s create magic, one artwork at a time.</p>
                        <p>As an artist, I don’t merely paint; I breathe life into visions. When you commission a piece, you’re not hiring a mere artist—you’re gaining a collaborator who listens, interprets, and infuses heart into every stroke. Whether it’s a cherished portrait, a captivating landscape, or a custom illustration, I immerse myself in your story. Your satisfaction isn’t just my goal; it’s my masterpiece. Let’s transform your ideas into timeless art together.</p>
                        <div class="row g-2 mb-4">
                            <div class="col-sm-6">
                                <i class="fa fa-check text-primary me-3"></i>Quality Arts
                            </div>
                            <div class="col-sm-6">
                                <i class="fa fa-check text-primary me-3"></i>Custom Works
                            </div>
                            <div class="col-sm-6">
                                <i class="fa fa-check text-primary me-3"></i>Online Order
                            </div>
                            <div class="col-sm-6">
                                <i class="fa fa-check text-primary me-3"></i>Home Delivery
                            </div>
                        </div>
                        <!--<a class="btn btn-primary py-3 px-5" href="">Read More</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    {% endblock %}
